@{
    ViewBag.Title = "> Sobre Nós";
}

<div id="about_content" class="page-content">
    <div class="mdl-grid">
        <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4>Engenharia Web - SENAC</h4>
                    <h5>Gerenciamento de fila de espera por meio de dispositivo móvel</h5>

                    <p>Integrantes:</p>
                    <p>Cristiano Conter</p>
                    <p>Diogo Akira Wakabayashi</p>

                    <p>
                        <a href="https://github.com/diakira/qmanager">
                            <img src="~/Layout/github.svg" alt="github" style="width:28px"/>
                            https://github.com/diakira/qmanager
                        </a>
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>