@{
    ViewBag.Title = "> Fila";
}


<script type="text/javascript">
    $(function () {
        $.getJSON("@Url.Content("~/Mock/Usuario.json")", function (data) {
            //$("#tabela .loading").fadeOut(function () {
            //    $(this).remove();
            //});
            for (var i = 0; i < data.length; i++) {

                $("#tabela").append('<li class="mdl-list__item mdl-list__item--two-line">'
                              + '<span class="mdl-list__item--number">'
                                 + (i + 1) + 'º'
                              + '</span>'
                              + '<span class="mdl-list__item-primary-content">'
                              + '    <i class="material-icons mdl-list__item-avatar">person</i>'
                              + '    <span>'
                              + data[i].nome
                              + '    </span>'
                              + '    <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">'
                              + '    chamar'
                              + '    </span>'
                              + '    <span class="mdl-list__item-sub-title">'
                              + 'Chegou às '
                              + data[i].dataChegada
                              + ' com '
                              + data[i].numPessoas
                              + ' pessoas</span>'
                              + '</span>'
                              + '</li>'
                );
            };
        });
    });
</script>


<div id="fila_content" class="page-content mdl-grid">

    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <ul id="tabela" class="demo-list-two mdl-list">
            <img src="~/Layout/loading.svg" class="loading" style="width: 100px;" alt="loading" />
        </ul>
    </section>
</div>