@{
    ViewBag.Title = "> Fila";
}

<script type="text/javascript">
    $(function () {
        $.getJSON("@Url.Content("~/Mock/Usuario.json")", function (data) {
            $("#tabela").html("");
            for (var i = 0; i < data.length; i++) {

                $("#tabela").append(
                              '<li class="mdl-list__item mdl-list__item--three-line">'
                               + '<span class="mdl-list__item--number">'
                               + '<a href="@Url.Action("Remover","Fila")?id=' + data[i].ID + '">'
                               + '<div id="tt' + i + '" class="icon material-icons fila_delete">delete_forever</div>'
                               + '<div class="mdl-tooltip" for="tt' + i + '">'
                               + '  Remover da fila'
                               + '</div>'
                               + '</a>'
                              + '</span>'
                                   + '<span class="mdl-list__item--number">'
                                 + (i + 1) + 'º'
                              + '</span>'
                              + '   <span class="mdl-list__item-primary-content">'
                              + '       <i class="material-icons mdl-list__item-avatar">person</i>'
                              + '   <span>'
                               + data[i].Nome
                              + '</span>'
                              + '<span class="mdl-list__item-text-body">'
                              + 'Chegou em '
                              + data[i].DataHoraChegada
                                + ' com '
                              + data[i].QuantidadePessoas
                              + ' pessoas'
                              + '</span>'
                              + '</span>'
                              + '<span class="mdl-list__item-secondary-content">'
                              + '    <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="Chamar(\'' + data[i].Nome + '\')">'
                              + '    chamar'
                              + '    </span>'
                              + '</span>'
                              + '</li>'
                );
            };
        });

        var dialog = document.querySelector('dialog');

        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
            $(".mdl-dialog").hide();
        });

        var mensagem = "@ViewBag.Mensagem"

        if (mensagem != "") {
            dialog.showModal();
            $(".mdl-dialog").show();
        }
    });

    function Chamar(nome) {

        $("#mensagemDialog").text("Você chamou " + nome);
        var dialog = document.querySelector('dialog#dialogChamar');
        var showDialogButton = document.querySelector('#show-dialog');
       
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
            $(".mdl-dialog").hide();
        });

        dialog.showModal();
        $("#dialogChamar").show();
    };
</script>

<div id="fila_content" class="page-content mdl-grid">

    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">

        <div class="mdl-cell mdl-cell--7-col">
            <ul id="tabela" class="demo-list-two mdl-list"></ul>
        </div>
    </section>


    <dialog class="mdl-dialog" style="display:none">
        <div class="mdl-dialog__content">
            <p>
                @ViewBag.Mensagem
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent close">
                <i class="material-icons">done</i> OK
            </button>
        </div>
    </dialog>
</div>

<dialog id="dialogChamar" class="mdl-dialog" style="display:none">
    <div class="mdl-dialog__content">
        <p>
            <span id="mensagemDialog">
            </span>
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent close">
            <i class="material-icons">done</i> OK
        </button>
    </div>
</dialog>