@{
    ViewBag.Title = "";
}

<div id="home_content" class="page-content">   
    <div id="tiles" class="mdl-grid">
        <a href="@Url.Action("Index","Fila")" id="tile_fila" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet demo-cell mdl-shadow--6dp tile mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons mdl-cell mdl-cell--12-col">list</i>
            <label class="tile_title mdl-cell--12-col">Fila</label>
        </a>

        <a href="@Url.Action("Index","Usuario")" id="tile_usuario" class="mdl-cell mdl-cell--4-col demo-cell mdl-shadow--6dp tile mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons mdl-cell--12-col">account_box</i>
            <label class="tile_title">Usuários</label>
        </a>

        <a href="@Url.Action("Index","Estatistica")" id="tile_estatistica" class="mdl-cell mdl-cell--4-col demo-cell mdl-shadow--6dp tile mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons md-48 mdl-cell--12-col">show_chart</i>
            <label class="tile_title">Estatísticas</label>
        </a>
    </div>
</div>
